<script async src="https://www.googletagmanager.com/gtag/js?id=G-KZSPNCRQL5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KZSPNCRQL5');
</script>
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="/css/fontawesome.css">
<style>
  .wrapper {
    max-width: calc(1000px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
  }
  
  main.page-content{
    margin-top: 2.5%;
    background-color: #fcfff5;
  }
  header.site-header {
    position: fixed;
    width: 100%;
    background-color: #ddf3af;
    z-index: 10;
  }
  footer.site-footer{
    background-color: #ddf3af;
    padding:10px;
    max-height: 55.95px;
  }
</style>
