<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G9LK855Y6R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G9LK855Y6R');
</script>
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="/css/fontawesome.css">
<style>
  .wrapper {
    max-width: calc(1000px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
  }
   <style>
      .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #cc0000;
      }
    </style>
   main.page-content{
      margin-top: 2.5%;
      background-color: #fcfff5;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  @media (max-width: 500px) {
    main.page-content{
      margin-top: 10.5%;
      
    }
  }
  .b-light b {
    font-weight: 200;
    text-decoration: underline;
}
  
  header.site-header {
    position: fixed;
    width: 100%;
    background-color: #ddf3af;
    z-index: 10;
  }
  footer.site-footer{
    background-color: #ddf3af;
    padding:10px;
    max-height: 55.95px;
  }
</style>
