<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!--div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div-->
      <!--div class="footer-col">
      {%- include social.html -%}
      </div-->
      <div class="footer-col">
        <!-- p>{{ site.description | escape }}</p -->
        
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <a class="page-link" href="/impressum.html">Impressum</a>
          <a class="page-link" href="/dsgvo.html" title="Datenschutzerklärung">DSGVO</a>
          <a class="page-link" href="#top"> <span style='font-size:20px;position: relative;right: -15%;'> &#8679;Top</span> </a>
        </p>
        
      </div>
    </div>

    <!-- div class="social-links">
      {%- include social.html -%}
    </div -->

  </div>
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">
</footer>
